{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select name="symbol">
            <option disabled selected value>Symbol</option>
            {% for stock in stocks %}
            <option>{{ stock }}</option>
            {% endfor %}
        </select><br><br>
        <input type="number" name="shares" placeholder="Shares" min="1" id="requestedShareNo"><br><br>
        <button type="submit">Sell</button>
    </form>
{% endblock %}
